<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<!--站点日志目录路径-->
		<add key="IISlogDir" value="C:\inetpub\logs\LogFiles\W3SVC2"/>
		<!-- 请求路径正则 -->
		<add key="PathRegex" value=".php|.jsp|.exe$"/> 
		<!-- 请求UserAgent正则 -->
		<add key="UARegex" value="libcurl|Nmap|masscan|zgrab|Banner|NetcraftSurveyAgent|sqlmap"/>
		<!--黑名单IP过期时长-->
		<add key="expirets" value="00:01:00"/>
	</appSettings>
</configuration>